.login{
    display: flex;
    flex-direction: column;
    gap:3rem;
    background: var(--surfaceColor);
    padding: 3rem;
    border-radius: 2rem;
}

.login .brand{    
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: 'Bebas Neue', cursive;
    color:#fff;
    font-size: 3rem;
    cursor: pointer;
}