<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name = "Autor" content = "Cardoso Mauro Fernando">
        <meta name="Descripcion" content="Proyecto software tp3">
        <link rel="Shortcut Icon" href="Public\Images\Icono.ico" type="image/x-icon">
        <link rel="stylesheet" href="../Css/ApplicationWeb.css">
        <link rel="stylesheet" href="../Css/PageCarrito.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <title>Supermercados Maurito</title>
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1, user-scalable = yes, width = device-width">
    </head>
    <body>
        <div id="ApplicationWeb"></div>
        <footer>
            <!-- <a id="buttonOrden" href="http://localhost:3000/OrdenCompra" class="btn-flotante">COMPRAR</a> -->
        </footer>
        <script type="module" src="../JavaScript/Initializer/InitLayout.js"></script>
        <script type="module" src="../JavaScript/Initializer/PageCarrito.js"></script>
    </body>
    <footer>
        <div class="footer-maurito">
            Copyright © maurito 2022. Todos los derechos reservados.
        </div>
    </footer>
</html>