.modal{
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #747474e0;
    width: 100%;
    height: 100%;
}

.modal .modal-contain{
    width: 500px;
}