.categorias {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.categorias .header{
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;

}

.categorias .header .tools{
  display: flex;
  gap:2rem;
}

.categorias h1 {
  padding-bottom: 2rem;
}

.categorias span{
  font-size: 1.2rem;
}

.ts .ticketStatus {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
  padding: 2rem 0;
  border-radius: 1rem;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}


.error{
  font-size: 2rem;
  color: brown;
}

.categorias .table{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--surfaceColor);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));  
}

.categorias .table-header{
  color:var(--primaryColor);
  font-size: 1.8rem;
  padding-bottom: 1rem;
  padding: 2rem;

}

.categorias .table-item{  
  border-top:3px solid var(--backgroundColor);
  padding: 2rem;
}