.newArea {
  background-color: var(--surfaceColor);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.newArea button {
  margin-left: auto;
  background-color: var(--primaryColor);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  filter: drop-shadow(0 0 0.3rem var(--primaryColor));
  cursor: pointer;
}

.newArea button:hover {
  filter: none;
}

@media screen and (max-width: 780px) {

  .areas{
    padding: 0;
  }
}
